# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages
* List common language libraries
* List open source tools

Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
1. Pandas
1. ggplot

|Data Science Tools|
--
|Jupyter Notebook|
|RStudio|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Nathan Scheidel